.toolbar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: calc(100% - 16px);
    height: 64px;
    padding: 0 16px;
    margin: -8px 0px 8px -8px;
    background-color: #3f51b5;
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.toolbar > * {
    margin: 0px 16px 0px 0px;
}

/** {
    font-family: Georgia;
}*/

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

body {
    margin: 0px;
}

/*ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3f51b5;
    text-align: center;
    height: 96px;
}*/

<<<<<<< HEAD
/*ul.topnav li {
    float: center;
    margin-top: 8px;
}*/

.grouplink {
=======


/* Float the list items side by side */
ul.topnav li {
    margin-top: 8px;
    display : inline-block;
}

#left-top {
    float: left;
    margin-top: 0px;
}

#right-top {
    
    float: right;
    padding: 14px 37px;
    font-size: 48px;
}


/* Style the links inside the list items */
ul.topnav li a {
>>>>>>> 7a123eb715577c1b04bda8cc2d54963ca22a823c
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 48px;
    font-family: Rockwell;
}

.litext {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 48px;
    font-family: Rockwell;
}

.nodatatext {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
    font-family: Rockwell;
}

h1 {
    margin: auto;
    text-align: center;
    color: black;
    padding: 14px 16px;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;
    font-family: Rockwell;
}

/*#Knoppen {
    margin-top: 10%;
*/

.btn {
    background: #5c6bc0;
    background-image: -webkit-linear-gradient(top, #5c6bc0, #3f51b5);
    background-image: -moz-linear-gradient(top, #5c6bc0, #3f51b5);
    background-image: -ms-linear-gradient(top, #5c6bc0, #3f51b5);
    background-image: -o-linear-gradient(top, #5c6bc0, #3f51b5);
    background-image: linear-gradient(to bottom, #5c6bc0, #3f51b5);
    -webkit-border-radius: 36;
    -moz-border-radius: 36;
    border-radius: 36px;
    color: #ffffff !important;
    font-size: 30px;
    padding: 1em 1em 1em 1em;
    border: solid #1f628d 0px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
    width: 70%;

}

.btn:hover {
    background: #7986cb;
    background-image: -webkit-linear-gradient(top, #7986cb, #5c6bc0);
    background-image: -moz-linear-gradient(top, #7986cb, #5c6bc0);
    background-image: -ms-linear-gradient(top, #7986cb, #5c6bc0);
    background-image: -o-linear-gradient(top, #7986cb, #5c6bc0);
    background-image: linear-gradient(to bottom, #7986cb, #5c6bc0);
    text-decoration: none;
}

input[type="text"] {
    background: #E8EAF6 !important;
    color: black !important;
}

.grouplist {
    margin: auto;
    width: 50%;
    text-align: center;
    /*line-height: 64px;*/
    color: black;
    list-style-type: none;
}

/*#titletext {
    font-size: 48px;
    font-weight: bold;
}*/