* {
    font-family: Georgia;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

body {
    margin: 0px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3f51b5;
    text-align: center;
    height: 96px;
}

/* Float the list items side by side */
ul.topnav li {
    float: center;
    margin-top: 8px;
}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 48px;
    font-family: Rockwell;
}

/*#Knoppen {
    margin-top: 10%;
}*/

.btn {
    background: #5c6bc0;
    background-image: -webkit-linear-gradient(top, #5c6bc0, #3f51b5);
    background-image: -moz-linear-gradient(top, #5c6bc0, #3f51b5);
    background-image: -ms-linear-gradient(top, #5c6bc0, #3f51b5);
    background-image: -o-linear-gradient(top, #5c6bc0, #3f51b5);
    background-image: linear-gradient(to bottom, #5c6bc0, #3f51b5);
    -webkit-border-radius: 36;
    -moz-border-radius: 36;
    border-radius: 36px;
    color: #ffffff !important;
    font-size: 30px;
    padding: 1em 1em 1em 1em;
    border: solid #1f628d 0px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
    width: 70%;

}

.btn:hover {
    background: #7986cb;
    background-image: -webkit-linear-gradient(top, #7986cb, #5c6bc0);
    background-image: -moz-linear-gradient(top, #7986cb, #5c6bc0);
    background-image: -ms-linear-gradient(top, #7986cb, #5c6bc0);
    background-image: -o-linear-gradient(top, #7986cb, #5c6bc0);
    background-image: linear-gradient(to bottom, #7986cb, #5c6bc0);
    text-decoration: none;
}

#input {
    background: #E8EAF6;
    color: black;
}

#klassen {
    margin: auto;
    width: 50%;
    text-align: center;
    /*line-height: 64px;*/
    color: black;
}

#titletext {
    font-size: 48px;
    font-weight: bold;
}

ul {
  list-style-type: none;
}
